@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* for font */
.inter {
  font-family: "Inter", sans-serif;
}
/* contact page calender style */

/* contact page calender style */
/* @font-face {
  font-family: datefont;
  /* src: url(./assets/font/Satoshi-Light.otf); */

.react-calendar {
  font-family: datefont !important;
  font-size: 24px !important;
  background: #1d1f20 !important;
  color: white;
  border: none !important;
  width: 420px !important;
}

.react-calendar__month-view__days button:hover {
  background: #1fb5dd !important;
  width: 34px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

abbr {
  text-decoration: none;
}

/* for font */

/* box card style  */

.boxx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.boxs {
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
}

.boxx::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 700px;
  background-image: conic-gradient(from 20deg, #fff, #000);
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* box card style  */

.btn {
  @apply rounded-s-full rounded-e-full text-[#FFFFFF] border py-[10px] px-[14px];
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}

.footer-line {
  border: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(202, 207, 221, 0.2) 22.4%,
    #cacfdd 51.01%,
    rgba(202, 207, 221, 0.2) 79.69%
  );
}

.header-text {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #f6f7fa;
}

.title-text {
  color: #f6f7fa;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.contact-border {
  width: 1200px;
  height: 178px;
  top: 3985px;
  left: 120px;
  border: 1px;
  background: #0c1021;
}

/* swiper js */
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.swiper {
  height: 270px !important;
}

.swiper-pagination-bullet-active {
  width: 20px !important;
  border-radius: 4px !important;
  /* background: red !important; */
}

.swiper-pagination-bullet {
  background: rgb(34, 162, 221) !important;
  margin-top: 20px !important;
}
