@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* for font */
.inter {
  font-family: "Inter", sans-serif;
}
/* contact page calender style */

/* contact page calender style */
/* @font-face {
  font-family: datefont;
  /* src: url(./assets/font/Satoshi-Light.otf); */

.react-calendar {
  font-family: datefont !important;
  font-size: 24px !important;
  background: #1d1f20 !important;
  color: white;
  border: none !important;
  width: 420px !important;
}

.react-calendar__month-view__days button:hover {
  background: #1fb5dd !important;
  width: 34px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

abbr {
  text-decoration: none;
}

/* for font */
.hrline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
.hrline::before {
  content: "";
  position: absolute;
  /* background-image: conic-gradient(from 20deg, #fff, #000); */
  /* animation: spin 5s linear infinite; */
  border: 1px solid;
  background-image: linear-gradient(
    90deg,
    rgba(227, 236, 252, 0.2) 22.4%,
    #cacfdd 51.01%,
    rgba(234, 240, 253, 0.2) 79.69%
  );
  width: 1200px;
  height: 1px;
  border-radius: 16px;
  border: 1px;
}

/* box card style  */

.boxContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
.boxContainer::before {
  content: "";
  position: absolute;
  /* background-image: conic-gradient(from 20deg, #fff, #000); */
  /* animation: spin 5s linear infinite; */
  border: 1px solid;
  background-image: linear-gradient(
    90deg,
    rgba(227, 236, 252, 0.2) 22.4%,
    #cacfdd 51.01%,
    rgba(234, 240, 253, 0.2) 79.69%
  );
  width: 1200px;
  height: 178px;
  border-radius: 16px;
  border: 1px;
}

.boxs {
  border-radius: 20px;
}

.boxx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
.boxx::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 700px;
  background-image: conic-gradient(from 20deg, #fff, #000);
  animation: spin 5s linear infinite;
  /* border: 1px solid;
  background-image: linear-gradient(
    90deg,
    rgba(212, 216, 224, 0.2) 22.4%,
    #cacfdd 51.01%,
    rgba(221, 224, 230, 0.2) 79.69%
  ); */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* box card style  */

.btn {
  height: 36px;
  border-radius: 33px;
  border: 1px;
  border: 1px solid #6919ff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  background: #6919ff;
  padding: 8px 20px;
  background: #100b30;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6919ff;
  @apply inter;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}

.header-text {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #f6f7fa;
}

.title-text {
  color: #f6f7fa;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.contact-border {
  width: 1200px;
  height: 178px;
  top: 3985px;
  left: 120px;
  border: 1px;
  background: #0c1021;
}

/* swiper js */
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Default height for smaller screens */
.swiper {
  height: 270px !important;
}

/* Adjust height for larger screens */
@media only screen and (min-width: 768px) {
  .swiper {
    height: 400px !important; /* Adjust this value as needed */
  }
}

/* Adjust height for even larger screens */
@media only screen and (min-width: 1024px) {
  .swiper {
    height: 500px !important; /* Adjust this value as needed */
  }
}

/* Add more media queries as needed for different screen sizes */

.swiper-pagination-bullet-active {
  width: 20px !important;
  border-radius: 4px !important;
  /* background: red !important; */
}

.swiper-pagination-bullet {
  background: rgb(255, 255, 255) !important;
  margin-top: 20px !important;
}
