@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-s-full rounded-e-full text-[#FFFFFF] border py-[10px] px-[14px]
}

.padding {
  padding: 61px 120px 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}

.footer-line {
  border: 1px solid;
  border-image-source: linear-gradient(90deg, rgba(202, 207, 221, 0.2) 22.4%, #CACFDD 51.01%, rgba(202, 207, 221, 0.2) 79.69%);


}

.header-text {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #F6F7FA;
}

.title-text {
  color: #F6F7FA;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.contact-border {
  width: 1200px;
  height: 178px;
  top: 3985px;
  left: 120px;
  border: 1px;
  background: #0C1021;
}